[submodule "why3"]
	path = why3
	url = git+ssh://scm.forge.open-do.org/scmrepos/git/spark2014/why3.git
[submodule "alt-ergo"]
	path = alt-ergo
	url = git+ssh://scm.forge.open-do.org/scmrepos/git/spark2014/alt-ergo.git
[submodule "cvc4"]
	path = cvc4
	url = git+ssh://scm.forge.open-do.org/scmrepos/git/spark2014/cvc4.git
