# git-ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
# *~
*.bexch
*~
*.sli
*.lst
*.tmp
*.log
*.idx
*.smf
*.rep
*.pyc
*.swp
*.bak
_build
auto.cgpr
GNAT-*
gnat_src
install
gnat2why/obj
gnat2why/why/xgen/obj
gnat2why/obj-tools
obj
benchmark_script/data
benchmark_script/bench
gnat2why/why/xgen/b__xtree.ad?
testsuite/gnatprove/temp
include/proof/Coq/*/*.v
include/proof/Coq/*.v
spark2014vsn.ads.stderr
spark2014vsn.ads.stdout
