[submodule "why3"]
	path = why3
	url = ../why3.git
	ignore = dirty
        branch = master
[submodule "alt-ergo"]
	path = alt-ergo
	url = ../alt-ergo.git
	ignore = dirty
        branch = master
[submodule "cvc4"]
	path = cvc4
	url = ../cvc4.git
	ignore = dirty
        branch = master
[submodule "z3"]
	path = z3
	url = ../z3.git
	ignore = dirty
        branch = master
[submodule "gnat"]
	path = gnat
	url = ../gnat.git
	ignore = dirty
        branch = master
