<?xml version="1.0" ?>
<gprconfig>
 <configuration>
  <compilers>
   <compiler name="GNAT" />
   <compiler name="GNAT_C" />
  </compilers>
  <config>
   package Compiler is
      for Driver ("Ada") use "gnat2why";
      for Object_File_Suffix ("Ada") use ".ali";
      for Dependency_Kind ("Ada") use "ALI_File";
   end Compiler;
  </config>
 </configuration>
</gprconfig>
